.preparacao {

    margin: 10px;
    padding: 10px;
    color: #ed4a6a;
}

li {

    margin: 10px;
    padding: 10px;
}

.ingredientes-sanduiche {

    margin: 10px;
    padding: 10px;
    color: #e47c5d
}

.instrucoes {

    margin: 10px;
    padding: 10px;
    color: #e47c5d;
}


.valor-nutricional{
margin: 10px;
padding: 10px;
color: #e47c5d;
}


span {

    color: #e47c5d;
}
.nutri {

    margin: 20px;
    padding: 25px;




}